

.JToggle {
    color: red;
}

@keyframes mylink {
    0% {
        left: 0px;
        top: 15px;
    } 

    50% {
        left: 0px;
        top: 500px;
    } 

    100% {
        left: 100px;
        top: 15px;
    }
}